<div class="container mt-5">

    <div class="row mt-5">

        <form (ngSubmit)="savedPost()">

        <div class="col-6">
            <div class="form-group">
                    <input class="form-control col-4" placeholder="Title" type="text" name="title" [(ngModel)]="newPost.title">
            </div>
        </div>

        <div class="col-6">
        
            <div class="form-group">
                <input class="form-control col-6" placeholder="Description" type="text" name="description" [(ngModel)]="newPost.description">
            </div>
        </div>


            <button type="submit" class="btn btn-success">Enter my thoughts</button>

            <button (click)="deletedPost(newPost.id)" class="btn btn-danger">Delete</button>

        
        </form>
        
        

    </div>
</div>
